stylus_red = red

stylus_transparent_red = transparentize(stylus_red, 0.5)

list = red, green, blue, yellow, cyan, magenta

// #f0f

string = '#ff0000'

invalid_color = transparentize(stylus_red, inexistant_color)
